tweetnacl and Ed25519

Hello,

I have a question with respect to the ACL Ed25519 implementation. I have recently checked that tweetnacl [1] is compatible with RFC 8032. When providing private keys and messages from Section 7.1 of [2] to tweetnacl, I am able to derive appropriate corresponding public keys and signature values matching the output of [2] in Section 7.1. 

I was trying to do the same in Ed25519, by copying the 32 byte private key and a message into uint8_t vectors. Next, I run Ed25519::derivePublicKey and Ed25519::sign. Both the corresponding public key and the message derived do not match the RFC 8032 Section 7.1 or the tweetnacl output values. 

Are in general tweetnacl and the ACL Ed25519 implementation compatible or there is some difference between these two?
   
[1] http://tweetnacl.cr.yp.to/
[2] https://tools.ietf.org/html/rfc8032

Thanks!

Eryk Schiller 

OK. My fault. It seems to be that TweetNaCl, ACL Ed25519, and also bunch of other projects such as [1-4] are compatible with RFC 8032 Section 7.1.

[1] https://godoc.org/golang.org/x/crypto/ed25519
[2] https://www.npmjs.com/package/ed25519
[3] https://mvnrepository.com/artifact/net.i2p.crypto/eddsa/0.1.0
[4] https://www.npmjs.com/package/tweetnacl-rn